@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#firstchart {
  min-width: 615px;
  height: 200px; 
  max-width: 650px; 
  margin: 0 auto;
  position: relative;
  left: 125px;
  top: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#secondchart {
  min-width: 600px;
  height: 300px; 
  max-width: 500px; 
  margin: 0 auto;
  position: relative;
  left: 100px;
  top: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#thirdchart {
  min-width: 700px;
  height: 400px; 
  max-width: 800px; 
  margin: 0 auto;
  position: relative;
  left: 200px;
  top: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.userinput {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
  position: relative;
  left: -450px;
  top: -950px;
}
.creditcard {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
  position: relative;
  left: -20px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 37px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.input-symbol-dollar {
    position: relative;
}
.input-symbol-dollar input {
    padding-left:18px;
}
.input-symbol-dollar:before {
    position: absolute;
    content:"$";
    left: 7px;
    top: 3px;
    font-size: 12px;
}
h1{
  text-align: center;
}
body {
  background: #7abb57;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
p{
  font-family: "Roboto", sans-serif;
}